/* Add styles for the <nav> element */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #040404; /* Background color */
  color: #fff; /* Text color */
  /* padding: 10px; Padding around the navigation */
  border-radius: 1px;
  box-shadow: 0 5px 15px rgb(0, 0, 0, 0);
  width: 100%;
  height: 60px;
  position: fixed; 

 }

/* Add styles for the <ul> element */
ul {
  list-style: none; /* Remove default list styles */
  padding: 0;
  display: flex; /* Display items in a row */
  justify-content: space-around; /* Spread items evenly */

}

/* Add styles for the <li> elements (individual navigation items) */
li {
  margin: 0;
}

/* Add styles for the <a> elements (links) */
a {
  text-decoration: none; /* Remove underline from links */
  color: #fff; /* Link text color */
  font-weight: bold; /* Make the text bold */
  padding: 5px;

  /* Style links on hover */
  &:hover {
  
    background-color: #2b98d6; /* Change the color on hover */
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
  }
}