.login-btn {
    background-color: rgb(89, 89, 243);
    border-radius: 2em;
    width: 150px;
    margin-top: 5px;
}

.input {
    border-radius: .20em;
    width: 300px;
    margin-top: 20px;
    margin-left: 5px;
}