.container {
    font-size: 25px;
    height: 600px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }

  .form {
    background: rgb(87, 202, 214);
    width: 800px;
    height: 600px;
    position: relative;
    margin: 0;
    padding: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .signIn {
    align-content: center;
    font-size: 40px;
    text-align: center;
    margin: 15px;
  }